* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", Arial, sans-serif;
  max-width: 60%;
  color: #333;
  margin: 0 auto;
}

header {
  margin: 1.5% 0 5%;
}

header a {
  color:#777;
  font-size: 120%;
  margin-right: 20px;
  text-decoration: none;

}

header ul li {
  display: inline-block;
}

ul li {
  list-style-type: none;
}

.page-heading {
  font-size: 600%;
  font-weight: 500;
  padding: 5% 0 1.5%;
}

form input {
  font-family: "Work Sans", Arial, sans-serif;
  padding: 1%;
  border-radius: 5px;
  border: .5px solid #aaa;
}

input[type=submit] {
  background-color: rgb(90, 170, 80);
  color: #fff;
}

input:focus,
textarea:focus {
  outline: none;
}

#weather-icon {
  display: none;
  width: 30px;
  height: 30px;
}

#location {
  display: inline-block;
  font-size: 200%;
  margin-bottom: 20px;
}

.error {
  color:#a12828;
}

footer {
  position: fixed;
  bottom: 0;
  /* background: #c5e3f1; */
  text-align: center;
  color: #888;
  border-top: 2px solid #ddd; 
  /* box-shadow: 0 -8px 5px -8px #888; */
  padding: 40px;
  font-size: 90%;
  width: 60%;
  margin: 0 auto;
}
